<h1>Add a Comment</h1>
<%= form_for [@item, @comment] do |f| %>
  <%= f.label :body %>
  <%= f.text_area :body, required: true %>
  <br />
  <%= f.label :author %>
  <%= f.text_field :author, placeholder: "Leave blank to remain anonymous" %>
  <br />
  <%= f.submit %>
<% end %>
