<h1><%= @department.name %></h1>
<hr />
<h4>What would you like to do?</h4>
<%= link_to "View Items", department_items_path(@department) %>
<br />
<%= link_to "Edit Department", edit_department_path(@department) %>
<br />
<%= link_to "Delete Department", @department, method: :delete %>
<br />
<%= link_to "Back to Store", departments_path %>
